# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/
/services/indexer/dist/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok
/scripts/.env
**/node_modules/
#/scripts/package-lock.json
/artifacts/
/contracts/**/schema/
/e2e/config.json
/deployment/tx/
/deployment/juno-v1-testnet.json
/deployment/juno-v1-mainnet.json
